.burger {
  min-width: 70px;
  min-height: 70px;
}

.burger__btn {
  position: relative;
  display: flex;
  z-index: 6;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: transparent;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 0%;
  min-width: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 123px;
  padding-bottom: 40px;
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
  background-color: #F9F1F0;
  transition: 0.5s;
}

.nav__active {
  width: 25%;
}

.nav__item {
  white-space: nowrap;
}

.burger__btn__elem {
  width: 50px;
  height: 6px;
  background: #F79489;
  border-radius: 5px;
}

.burger__btn__elem::after {
  transform: translateY(-16px);
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #F79489;
  border-radius: 5px;
}

.burger__btn__elem::before {
  transform: translateY(16px);
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #F79489;
  border-radius: 5px;
}
